
<div class="section ">
    <h2>New Authors</h2>
  
  <div class="container pd">
  
      <div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">
        
  
          <div class="card-body text-primary">
            
            <form action="/authors" method="POST" >
  
                <%- include('_form_fields') %>
               <a href="/authors" class="btn btn-primary">Cancel</a>
              
                <button type="submit" class="btn btn-primary text-light ">Create</button>
            </form>
         
        </div>
      </div>
  </div>
  </div>